/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(79, 72%, 55%);
  --first-color-light: hsl(79, 97%, 77%);
  --first-color-alt: hsl(79, 67%, 52%); 
  --first-color-dark: hsl(79, 63%, 50%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: hsl(180, 12%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Red Hat Display', sans-serif;
  --second-font: 'Kaushan Script', cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-green {
  color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.container {
  max-width: 1124px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.header{
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: backround .3s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  display: flex;
}

.nav__logo{
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-bold);
}

.nav__logo img{
  width: 1.25rem;
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {

  .nav__menu{
    position: fixed;
    background-color: hsla(180, 12%, 8%, 0.8);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    border-left: 2px solid var(--first-color-gray);
    transition: right .3s;
  }
}

.nav__list{
  padding: 5rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link{
  color: var(--text-color);
  transition: color .3s;
}

.home{
  cursor: pointer;
}

.nav-err{
  opacity: .3;
  cursor: auto;
}


.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.nav .nav__button{
  background: #fff;
  color: var(--title-color-black);
  border: none;
  padding: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  top: .8rem;
}

.nav .nav__button:hover{
  background-color: var(--first-color-dark);
}

/* Show menu */
.show-menu {
  right: 0; /* Slide in */
}

/* Change background header */
.bg-header{
  background-color: var(--body-color);
  box-shadow: 0 4px 8px hsla(180, 12%, 4%, .3);
}

/* Form Pricing*/

.container-pricing{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:25px;
  position: relative;
  top: 5rem;
  margin-right: 1rem;

}

.container-pricing form{
  padding:20px;
  width:700px;
  background: var(--title-color-black);
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container-pricing form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container-pricing form .row .col{
  flex:1 1 250px;
}

.container-pricing form .row .col .title{
  font-size: 20px;
  color:var(--first-color);
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container-pricing form .row .col .inputBox{
  margin:15px 0;
}

.container-pricing form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container-pricing form .row .col .inputBox input{
  width: 100%;
  border:1px solid var(--first-color-dark);
  background: transparent;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  color: var(--first-color-gray);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.container-pricing form .row .col .inputBox input[type=number]{
  -webkit-appearance: none; /* For WebKit browsers (Chrome, Safari) */
  -moz-appearance: textfield; /* For Firefox */
  appearance: none; /* Standard property */
  margin: 0;
}

.container-pricing form .row .col .inputBox input:focus{
  border:2px solid var(--first-color-light);
}

.container-pricing form .row .col .flex{
  display: flex;
  gap:15px;
}

.container-pricing form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container-pricing form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container-pricing form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: var(--first-color-dark);
  color: var(--title-color-black);
  margin-top: 5px;
  cursor: pointer;
}

.container-pricing form .submit-btn:hover{
  background: var(--first-color-light);
}

/*=============== FOOTER ===============*/
.footer__container{
  row-gap: 4rem;
  padding-top: 1rem;
  position: relative;
  top: 7rem;
}

.footer__logo,
.footer__description{
  color: var(--text-color);
}

.footer__logo,
.footer__form,
.footer__social{
  display: flex;
}

.footer__logo{
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.footer__logo img{
  width: 1.5rem;
}

.footer__description{
  margin-bottom: 2rem;
}

.footer__form{
  flex-direction: column;
  gap: 1.25rem;
}

.button{
  padding:1.5rem;
  background-color: var(--first-color);   
}

.button:hover{
  background-color: var(--first-color-light); 
  cursor: pointer; 
}

.footer__input{
  padding: 20px 56px 20px 24px;
  border: 2px solid var(--first-color-light);
  background: transparent;
  color: var(--text-color);
  outline: none;
  text-transform: none;
}

.footer__content,
.footer__links,
.footer__group{
  display: grid;
}

.footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer__links{
  row-gap: .75rem;
}

.footer__link{
  color: var(--text-color);
  transition: color .3s;
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__group{
  justify-content: center;
  row-gap: 2rem;
  position: relative;
  top: 9rem;
  margin-bottom: 8rem;
}

.footer__social{
  column-gap: 1.25rem;
}

.footer__social-link{
  display: inline-flex;
  padding: .35rem;
  background-color: var(--first-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: background .4s;
}

.footer__social-link:hover{
  background-color: var(--first-color-light);
}

.footer__copy{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.footer__message{
  position: absolute;
  transform: translateY(1rem);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container{
    margin-left: 1rem;
    row-gap: .25rem;
  }
.footer__container{
  display: flex;
  justify-content: center;
}
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .nav__menu{
    width: 50%;
  }
  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
  }
  .footer__content{
    grid-template-columns: repeat(3, max-content);
  }
  .footer__group{
    position: relative;
    top: 9rem;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav{
    height: calc(--header-height + 2rem);
  }
  .nav__menu{
    width: initial;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    padding: 0;
    align-items: center;
    column-gap: 4rem;
  }
  .nav__button{
    margin-top: 1rem;
  }
  .footer{
    padding-bottom: 3rem;
  }
  .footer__form{
    flex-direction: row;
  }
  .footer__content{
    column-gap: 5rem;
  }
  .footer__group{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    margin-top: 7rem;
  }
  .footer__social{
    order: 1;
  }
}

/* For large devices 2 */
@media screen and (min-width: 1150px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }

}